{% block hblawtext_request_button %}
    <div class="hblawtext-request-button">
         <sw-button
                @click="onClick"
                :disabled="loading"
        >
            Import law text now
        </sw-button>
    </div>
{% endblock %}
